In [2]:
import boto3
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

## Defining the s3 bucket
s3 = boto3.resource('s3')
bucket_name = 'data-445'
bucket = s3.Bucket(bucket_name)

## Defining the file to be read from s3 bucket
file_key = 'Chapter4/credit.csv'

bucket_object = bucket.Object(file_key)
file_object = bucket_object.get()
file_content_stream = file_object.get('Body')

## Reading the csv file
credit = pd.read_csv(file_content_stream)
credit.head()

,Unnamed: 0,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,1,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333
1,2,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903
2,3,104.593,7075,514,4,71,11,Male,No,No,Asian,580
3,4,148.924,9504,681,3,36,11,Female,No,No,Asian,964
4,5,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian,331

In [3]:
## Defining the input variables and target
X = credit[['Income', 'Limit', 'Rating', 'Age']]
Y = credit['Balance']

## Importing Ridge
from sklearn.linear_model import Ridge

## Fitting Ridge regression with alpha = 1
ridge_md = Ridge(alpha = 1, normalize = True).fit(X,Y)
ridge_md.coef_

array([ 0.09378903,  0.05695584,  0.85559762, -0.77265482])

In [4]:
## Defining the input variables and target
X = credit[['Income', 'Limit', 'Rating', 'Age']]
Y = credit['Balance']

## Importing Lasso
from sklearn.linear_model import Lasso

## Fitting Ridge regression with alpha = 1
lasso_md = Lasso(alpha = 1, normalize = True).fit(X,Y)
lasso_md.coef_

array([-4.973281  ,  0.06130079,  2.42258434, -0.07783457])